@CHARSET "UTF-8";

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,span,img,td,tr,table,tbody
	{
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	
}

body {
	background-color: #F3F3F0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	color: #333333;
}

#main { /* 	background-color: #C9F2F0; */
	overflow-y: scroll;
	overflow-x: auto;
	width: 100%;
	height: 100%;
	min-width: 600px;
	/*	color: #47695B;*/
	font-family: Arial,
		Verdana, sans-serif;
	overflow-y: scroll;
}

.note {
	color: red;
	font-size: 14px;
	display: none;
	padding: 5px 0px 5px 103px;
}

#content { /* 	width: 980px; */
	width: 65%;
	min-width: 600px;
	margin: 0 auto;
	padding: 0;
}

.labelBig {
	margin: 0px 10px 10px 5px;
	color: #0BDE98;
	font-size: 20px;
	font-weight: bold;
}

#messageForm {
	background-color: #F8F8F1;
}

.formLabel {
	color: #47695B;
	font-size: 18px;
	width: 95px;
	display: inline-block;
	padding-right: 5px;
	/*	vertical-align: top;*/
}

.inputText {
	width: 200px;
	border: 2px solid #C5E3E2;
	color: #333333;
	padding: 5px;
	height: 24px;
	font-size: 17px;
	font-family: Arial,
		Verdana, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	outline: none;
	font-size: 17px;
}

.inputText:FOCUS {
	border-color: #0BDE98;
}

.button {
	border: 2px solid #C5E3E2;
	background-color: #C5E3E2;
	color: #77A39E;
	padding: 0px 7px;
	line-height: 35px;
	height: 40px;
	font-weight: bold;
	font-size: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	vertical-align: top;
}

.button:HOVER {
	color: #4D7873;
	border-color: #0BDE98;
	cursor: pointer;
}

.button:FOCUS {
	color: #4D7873;
	border-color: #0BDE98;
	cursor: pointer;
}

.formField {
	margin: 10px;
}

#subject {
	color: gray;
	font-size: 16px;
}

#sendEmailForm {
	padding: 20px;
	text-align: left;
}

#messageLabel {
	vertical-align: top;
}

#message {
	width: 400px;
	max-width: 400px;
	height: 100px;
	max-height: 100px;
	font-size: 14px;
}

#bEmail {
	width: 400px;
}

#send {
	margin-left: 110px;
}

#cancel {
	margin-left: 10px;
	background-color: transparent !important;
}

#messageStatus {
	margin-top: 20px;
	margin-left: 112px;
	vertical-align: bottom;
	color: gray;
	font-weight: bold;
	font-size: 12px;
	display: none;
}