@CHARSET "UTF-8";

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,span,img,td,tr,table,tbody
	{
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

a {
	color: blue;
}

html {
	
}

body {
	background-color: #F3F3F0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	color: #333333;
}

#main { /* 	background-color: #C9F2F0; */
	overflow-y: scroll;
	overflow-x: auto;
	width: 100%;
	height: 100%;
	min-width: 600px;
	/*	color: #47695B;*/
	font-family: Arial,
		Verdana, sans-serif;
	overflow-y: scroll;
}

#content { /* 	width: 980px; */
	width: 65%;
	min-width: 600px;
	margin: 0 auto;
	padding: 0;
}

.labelBig {
	margin: 0px 10px 20px 5px;
	color: #0BDE98;
	font-size: 20px;
	font-weight: bold;
}

.button {
	border: 2px solid #C5E3E2;
	background-color: #C5E3E2;
	color: #77A39E;
	padding: 7px;
	font-weight: bold;
	font-size: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	vertical-align: top;
}

.button:HOVER {
	color: #4D7873;
	border-color: #0BDE98;
	cursor: pointer;
}

.button:FOCUS {
	color: #4D7873;
	border-color: #0BDE98;
	cursor: pointer;
}

/*private*/
.qaC {
	margin-bottom: 15px;
}

.q {
	font-weight: bold;
	line-height: 20px;
}

.a {
	line-height: 20px;
}

.footNote {
	font-size: 14px;
	color: gray;
}

.focus {
	padding: 10px;
	border: 3px solid #0BDE98;
	background-color: white;
}
