@CHARSET "UTF-8";

html,body,div,ul,ol,li,dl,dt,table,tbody,tr,td,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,span,img,td,tr,table,tbody
	{
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	
}

body {
	background-color: #F3F3F0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

a {
	color: blue;
}

#main {
	overflow-y: scroll;
	overflow-x: auto;
	width: 100%;
	height: 100%;
	min-width: 600px;
	font-family: Arial, Verdana, sans-serif;
	overflow-y: scroll;
}

.loading {
	width: 20px;
	height: 20px;
}

.note {
	color: red;
	font-size: 14px;
	display: none;
	padding: 5px 0px 5px 103px;
}

.note2 {
	font-size: 18px;
	margin-left: 10px;
	margin-top: 30px;
	color: #333333;
}

#content {
	width: 65%;
	min-width: 600px;
	margin: 0 auto;
	padding: 0;
}

#intro {
	margin: 0px 10px 20px 5px;
	color: #3F5951;
	font-size: 20px;
}

#maintabs {
	height: 50px;
	margin-bottom: 20px;
}

#maintabs ul {
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	vertical-align: middle;
}

#maintabs li {
	list-style: none;
	display: list-item;
	float: left;
	width: 50%;
	height: 50px;
	background-color: #3F5951;
	vertical-align: middle;
}

.maintab {
	padding: 7px;
	font-size: 20px;
	color: #58ADAD;
	font-weight: bold;
}

#maintabs ul li:HOVER {
	background-color: #47695B;
	cursor: pointer;
}

.tabtop {
	width: 100%;
	height: 7px;
}

.hifont {
	color: #0BDE98;
}

.hiback {
	background-color: #0BDE98;
}

#sSearch {
	display: inline;
	margin: 0;
	width: 200px;
}

.formLabel {
	color: #47695B;
	font-size: 18px;
	width: 95px;
	display: inline-block;
	padding-right: 5px;
}

.inputText {
	width: 200px;
	border: 2px solid #C5E3E2;
	color: #333333;
	padding: 5px;
	height: 24px;
	font-size: 17px;
	font-family: Arial, Verdana, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	outline: none;
	font-size: 17px;
}

.inputText:FOCUS {
	border-color: #0BDE98;
}

#sLoading {
	margin-left: -32px;
	vertical-align: text-top;
	visibility: hidden;
}

#sFormContinue {
	display: none;
}

.button {
	border: 2px solid #C5E3E2;
	background-color: #C5E3E2;
	color: #77A39E;
	padding: 0px 7px;
	line-height: 35px;
	height: 40px;
	font-weight: bold;
	font-size: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	vertical-align: top;
}

.button:HOVER {
	color: #4D7873;
	border-color: #0BDE98;
	cursor: pointer;
}

.button:FOCUS {
	color: #4D7873;
	border-color: #0BDE98;
	cursor: pointer;
}

#formsContainer {
	min-width: 600px;
	width: 90%;
	margin: auto;
	/*	text-align: center;*/
	margin-bottom: 30px;
	margin-top: 50px;
}

#formsContainer:FIRST-CHILD {
	min-width: 500px;
	text-align: left;
}

.formField {
	margin: 10px;
}

.cover {
	margin-right: 15px;
	margin-bottom: 15px;
	width: 120px;
	height: 170px;
	display: inline;
}

#sBookInfoContainer {
	padding: 20px 20px 20px 20px;
	margin-bottom: 10px;
}

#sResults {
	display: none;
}

#sBookInfoContainer div {
	margin-bottom: 5px;
}

.sFieldContainer {
	margin: 5px;
}

.bookInfo {
	margin-top: 10px;
	display: inline-block;
	max-width: 600px;
	vertical-align: top;
	margin-left: 20px;
}

.bookInfo td {
	vertical-align: baseline;
	padding: 2px;
}

.bookInfoItem {
	font-size: 16px;
	color: #333333;
}

.moreInfo {
	font-size: 14px;
	color: blue;
}

#bookInfo li {
	margin-bottom: 5px;
	font-size: 16px;
}

.l1 {
	font-size: 14px;
	width: 70px;
	display: inline-block;
	margin-right: 10px;
	color: #47695B;
	/*	font-weight: bold;*/
}

#sEmailContainer { /*	display: none;*/
	
}

#sZipCodeContainer { /*	display: none;*/
	
}

#sZipCode {
	width: 70px;
}

#sPrice {
	width: 70px;
}

#dollorSign {
	color: #47695B;
	font-size: 20px;
	margin-right: 5px;
}

#sEmail {
	width: 400px;
}

.captchaContainer {
	margin-top: 10px;
}

.captcha {
	margin: 5px 0px 5px 100px;
}

#recaptcha_image {
	background-color: white;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 10px;
}

#sSubmit {
	margin-left: 100px;
}

#bSearchContainer {
	margin-bottom: 30px;
}

#sSearchContainer {
	padding-right: 80px;
	margin-bottom: 5px;
}

#bSearch {
	display: inline;
	margin: 0;
	width: 70%;
}

#bloading {
	margin-left: -33px;
	vertical-align: text-top;
	display: none;
}

.bBookInfoContainer {
	border-left: 4px solid #F8F8F1;
	padding: 20px 20px 20px 20px;
	margin-bottom: 10px;
	/*	display: none;*/
}

.bBookInfoContainer:HOVER {
	border-left: 4px solid #0BDE98;
}

.bBookInfoContainer div {
	margin-bottom: 5px;
}

#bZipcode {
	width: 70px;
}

#bSearchFind {
	height: 38px;
	width: 75px;
	margin-left: 10px;
}

#bSearchShowAll {
	vertical-align: top;
	height: 38px;
	width: 200px;
	margin-left: 10px;
}

.bBookPriceContainer {
	margin-top: 20px;
	min-width: 500px;
	max-width: 600px;
}

.bBookPriceHeader {
	border-bottom: 1px dotted #47695B;
	color: #47695B;
	font-size: 14px;
	padding: 3px;
	margin-bottom: 5px;
}

.bBookPriceHeader span {
	width: 90px;
	margin-right: 40px;
	display: inline-block;
	text-align: center;
	display: inline-block;
}

.bBookPriceRow {
	font-weight: bold;
	font-size: 14px;
	padding: 3px;
	margin-bottom: 3px;
	color: #333333;
	border-top: 1px solid #F3F3F0;
	border-bottom: 1px solid #F3F3F0;
}

.bBookPriceRow:HOVER {
	background-color: #F8F8F1;
	border-top: 1px solid #EBEBE5;
	border-bottom: 1px solid #EBEBE5;
}

.bBookPriceRow span {
	width: 90px;
	margin-right: 40px;
	text-align: center;
	display: inline-block;
	color: #333333;
}

.emailSeller {
	color: #58ADAD !important;
	float: right;
	cursor: pointer;
	text-align: right;
	font-weight: bold;
	font-size: 15px;
	width: 150px !important;
	margin-right: 10px !important;
}

.emailSeller:HOVER {
	color: #0BDE98 !important;
}

#sCondition {
	width: 150px;
	margin-left: -4px;
	height: 36px !important;
}

#bResults ul {
	list-style: none;
	/*	display: none;*/
}

#screen2 {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.95;
	filter: alpha(opacity =                                             40);
	background-color: #F3F3F0;
	text-align: center;
}

#screen2l2 {
	overflow: auto;
	position: relative;
	margin: 0 auto;
	width: 65%;
	min-width: 650px;
	height: 100%;
	text-align: center;
}

#screen2l3 {
	z-index: 5;
	height: 650px;
	margin-top: 5%;
	position: fixed;
	width: 65%;
	text-align: center;
	min-width: 600px;
	background-color: #F8F8F1;
}

#bEmailIntro {
	margin-bottom: 15px;
	font-size: 18px;
	color: #0BDE98;
}

#subject {
	color: gray;
	font-size: 16px;
}

#sendEmailForm {
	padding: 20px;
	text-align: left;
}

#messageLabel {
	vertical-align: top;
}

#message {
	width: 400px;
	max-width: 400px;
	height: 100px;
	max-height: 100px;
	font-size: 14px;
}

#bEmail {
	width: 400px;
}

.captchaOpt {
	display: block;
	height: 17px;
}

.captchaOpt a {
	display: block;
	height: 17px;
}

.captchaOpt a img {
	display: block;
	height: 17px;
}

#bSubmit {
	margin-left: 110px;
}

#bCancel {
	margin-left: 10px;
	background-color: transparent !important;
}

#messageStatus {
	margin-top: 20px;
	margin-left: 112px;
	vertical-align: bottom;
	color: gray;
	font-weight: bold;
	font-size: 12px;
	display: none;
}

#submittingStatus {
	margin-left: 103px;
	vertical-align: bottom;
	color: gray;
	font-weight: bold;
	font-size: 12px;
	display: none;
}