@CHARSET "UTF-8";

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,span,img,td,tr,table,tbody
	{
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	
}

body {
	background-color: #F3F3F0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	color: #333333;
}

#main {
	overflow-y: scroll;
	overflow-x: auto;
	width: 100%;
	height: 100%;
	min-width: 600px;
	font-family: Arial, Verdana, sans-serif;
	overflow-y: scroll;
}

.note {
	color: red;
	font-size: 14px;
	display: none;
	padding: 5px 0px 5px 93px;
}

#content {
	width: 65%;
	min-width: 600px;
	margin: 0 auto;
	padding: 0;
}

.labelBig {
	margin: 0px 10px 10px 5px;
	color: #0BDE98;
	font-size: 20px;
	font-weight: bold;
}

.cover {
	margin-right: 15px;
	margin-bottom: 15px;
	width: 120px;
	height: 170px;
	display: inline;
}

.bookInfo {
	margin-top: 10px;
	display: inline-block;
	max-width: 600px;
	vertical-align: top;
	margin-left: 20px;
}

.bookInfo td {
	vertical-align: baseline;
	padding: 2px;
}

.bookInfoItem {
	font-size: 16px;
	color: #333333;
}

.moreInfo {
	font-size: 14px;
	color: blue;
}

.l1 {
	font-size: 14px;
	width: 70px;
	display: inline-block;
	margin-right: 10px;
	color: #47695B;
}

#sZipCode {
	width: 70px;
}

#sPrice {
	width: 70px;
}

#dollorSign {
	color: #47695B;
	font-size: 20px;
	margin-left: 5px;
}

#sBookInfoContainer { /*	border-left: 4px solid #F3F7F7;*/
	padding: 20px 20px 20px 20px;
	margin-bottom: 10px;
	/*	display: none;*/
}

#sBookInfoContainer div {
	margin-bottom: 5px;
}

.bBookPriceContainer {
	margin-top: 20px;
	min-width: 500px;
	max-width: 600px;
}

.bBookPriceHeader {
	border-bottom: 1px dotted #47695B;
	color: #47695B;
	/*	font-weight: bold;*/
	font-size: 14px;
	padding: 3px;
	margin-bottom: 5px;
}

.bBookPriceHeader span {
	width: 90px;
	margin-right: 40px;
	display: inline-block;
	text-align: center;
	display: inline-block;
}

.bBookPriceRow {
	font-weight: bold;
	font-size: 14px;
	padding: 3px;
	margin-bottom: 3px;
	color: #333333;
	border-top: 1px solid #F3F3F0;
	border-bottom: 1px solid #F3F3F0;
}

.bBookPriceRow:HOVER {
	background-color: #F8F8F1;
	border-top: 1px solid #EBEBE5;
	border-bottom: 1px solid #EBEBE5;
}

.bBookPriceRow span {
	width: 90px;
	margin-right: 40px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	color: #333333;
}

#remove {
	border: 2px solid red;
	color: #F8F8F1 !important;
	background-color: #E64550;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	height: 30px;
	margin-right: 10px !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 25px;
	height: 30px;
	font-size: 15px;
	font-weight: bold
}

#remove:HOVER {
	color: white !important;
	background-color: red;
	cursor: pointer;
}

.removed {
	float: right;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	height: 30px;
	margin-right: 10px !important;
}

#noBookFound {
	font-size: 18px;
	margin-left: 10px;
	margin-top: 30px;
	color: #444;
}