<div
	style="font-size: 12px; color: #3F5951; text-align: center; margin-top: 35px; text-decoration: none;"><s
	style="text-decoration: none;">&copy meyoubook.com</s><a
	style="color: #3F5951; font-size: 12px; text-decoration: none; margin-left: 20px;"
	href="faq.php">FAQ</a><a
	style="color: #3F5951; font-size: 12px; text-decoration: none; margin-left: 20px;"
	href="about.php">About</a><a
	style="color: #3F5951; font-size: 12px; text-decoration: none; margin-left: 20px;"
	href="privacy.php">Privacy</a></div>

